In [46]:
import pandas as pd
import json
df=pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [47]:
#df.describe()
#df.info()
df.iloc[0]

Age                   40
Sex                    M
ChestPainType        ATA
RestingBP            140
Cholesterol          289
FastingBS              0
RestingECG        Normal
MaxHR                172
ExerciseAngina         N
Oldpeak              0.0
ST_Slope              Up
HeartDisease           0
Name: 0, dtype: object

In [71]:
temp=["Age","Sex","ChestPainType","RestingBP","Cholesterol","FastingBS","RestingECG","MaxHR","ExerciseAngina","Oldpeak","ST_Slope","HeartDisease"]
temp1=[]
b=temp[0]
for i in range(0,len(df.Age)):
    temp1.append({temp[0]:int(df.Age[i]),temp[1]:df.Sex[i],temp[2]:df.ChestPainType[i],
                  temp[3]:int(df.RestingBP[i]),temp[4]:int(df.Cholesterol[i]),temp[5]:int(df.FastingBS[i]),temp[6]:df.RestingECG[i],temp[7]:int(df.MaxHR[i]),temp[8]:df.ExerciseAngina[i],temp[9]:int(df.Oldpeak[i]),temp[10]:df.ST_Slope[i],temp[11]:int(df.HeartDisease[i])})

In [74]:
with open("data.json", "w") as f:
   json.dump(temp1, f)